<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <style href="{% static 'style/style.css' %}"></style>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="header">
    <h1>{% block page_title %}{% endblock %}</h1>
</div>
<div class="sidebar">
<ul>
    <li onclick="change_partial('main-content', {% url 'AboutMe:homepage' %})">Homepage</li>
    <li onclick="change_partial('main-content', {% url 'AboutMe:resume' %})">Resume</li>
    <li onclick="change_partial('main-content', {% url 'AboutMe:projects' %})">Projects</li>
</ul>
</div>
<div id="main-content" class="main-content">
    {% block content %}{% endblock %}
</div>
<div class="footer">

</div>
<script>
    function change_partial(el_id, url) {
        $.ajax(url).done(function (data) {
            $('#' + el_id).html(data)
        })
    }
</script>
</body>
</html>